# generated
*.tx
*.o

# precompiled python
*.pyc
*$py.class

# no binaries
*.exe

# roms
*.gbc
*.gb

# for any of the poor souls with save game files in their working directory
*.sgm
*.sav
*.rtc

# rgbds extras
*.map
*.sym

# for the files that crowdmap uses
tilesets/*.png
tilesets/roofs/*.png
tilesets/*.2bpp

# compare.sh
baserom.txt
pokecrystal.txt

# for vim configuration
# url: http://www.vim.org/scripts/script.php?script_id=441
.lvimrc
# swap files for vim
.*.swp
# swap files for gedit
*~

.gitignore
crowdmap
engine/crystal_intro.asm
engine/diploma.asm
engine/events.asm
engine/intro_menu.asm
engine/landmarks.asm
engine/main_menu.asm
engine/map_triggers.asm
engine/mart.asm
engine/menu.asm
engine/namingscreen.asm
engine/options_menu.asm
engine/party_menu.asm
engine/player_movement.asm
engine/pokecenter_pc.asm
engine/pokedex.asm
engine/pokepic.asm
engine/scripting.asm
engine/startmenu.asm
engine/stats_screen.asm
engine/std_scripts.asm
engine/time.asm
engine/trainer_card.asm
gfx/emotes/bolt.2bpp
gfx/emotes/fish.2bpp
gfx/emotes/happy.2bpp
gfx/emotes/heart.2bpp
gfx/emotes/sad.2bpp
gfx/emotes/sleep.2bpp
gfx/frames/9.1bpp
gfx/load_pics.asm
gfx/misc/copyright.2bpp
gfx/overworld/000.2bpp
gfx/overworld/003.2bpp
gfx/overworld/013.2bpp
gfx/overworld/025.2bpp
gfx/overworld/058.2bpp
gfx/overworld/067.2bpp
gfx/overworld/080.2bpp
gfx/overworld/086.2bpp
gfx/overworld/090.2bpp
gfx/overworld/095.2bpp
gfx/overworld/sprite_headers.asm
gfx/pics.asm
gfx/stygian/BloodPic.2bpp
gfx/stygian/ankh.2bpp
gfx/stygian/ankh.pal
gfx/stygian/bag.2bpp
gfx/stygian/ball.2bpp
gfx/stygian/banner.2bpp
gfx/stygian/banner.pal
gfx/stygian/bloodGreen.pal
gfx/stygian/bloodRed.pal
gfx/stygian/bones.2bpp
gfx/stygian/bones.pal
gfx/stygian/book.2bpp
gfx/stygian/boulder.2bpp
gfx/stygian/button.2bpp
gfx/stygian/gel.2bpp
gfx/stygian/gel.pal
gfx/stygian/note.2bpp
gfx/stygian/poke.2bpp
gfx/stygian/poke.pal
gfx/stygian/youngster_dead.2bpp
gfx/title/crystal.w48.interleave.2bpp.lz
gfx/title/logo.w160.t4.2bpp.lz
gfx/title/suicune.w128.2bpp.lz
gfx/trainers/erika.pal
gfx/trainers/hiker.2bpp.lz
gfx/trainers/hiker.pal
gfx/trainers/kimono_girl.2bpp.lz
gfx/trainers/kimono_girl.pal
gfx/trainers/koga.2bpp.lz
gfx/trainers/koga.pal
gfx/trainers/lt_surge.2bpp.lz
gfx/trainers/lt_surge.pal
gfx/trainers/misty.2bpp.lz
gfx/trainers/misty.pal
gfx/trainers/will.pal
gfx/trainers/youngster.2bpp.lz
gfx/trainers/youngster.pal
home/menu.asm
home/rtc.asm
home/text.asm
items/item_attributes.asm
items/item_descriptions.asm
items/item_effects.asm
main.asm
maps/ElmsLab.asm
maps/ElmsLab.blk
maps/OlivineCity.asm
maps/map_headers.asm
maps/second_map_headers.asm
predef/cgb.asm
text/battle.asm
text/common_3.asm
text/common_4.asm
text/common_5.asm
text/trainer_class_names.asm
trainers/attributes.asm
trainers/dvs.asm
trainers/trainers.asm
wram.asm
gfx/tilesets/00.2bpp
gfx/tilesets/00.png
gfx/tilesets/01.2bpp
gfx/tilesets/01.png
gfx/tilesets/02.2bpp
gfx/tilesets/02.png
gfx/tilesets/03.2bpp
gfx/tilesets/03.png
gfx/tilesets/04.2bpp
gfx/tilesets/04.png
gfx/tilesets/05.2bpp
gfx/tilesets/05.png
gfx/tilesets/06.2bpp
gfx/tilesets/06.png
gfx/tilesets/07.2bpp
gfx/tilesets/07.png
gfx/tilesets/08.2bpp
gfx/tilesets/08.png
gfx/tilesets/09.2bpp
gfx/tilesets/09.png
gfx/tilesets/10.2bpp
gfx/tilesets/10.png
gfx/tilesets/11.2bpp
gfx/tilesets/11.png
gfx/tilesets/12.2bpp
gfx/tilesets/12.png
gfx/tilesets/13.2bpp
gfx/tilesets/13.png
gfx/tilesets/14.2bpp
gfx/tilesets/14.png
gfx/tilesets/15.2bpp
gfx/tilesets/15.png
gfx/tilesets/16.2bpp
gfx/tilesets/16.png
gfx/tilesets/17.2bpp
gfx/tilesets/17.png
gfx/tilesets/18.2bpp
gfx/tilesets/18.png
gfx/tilesets/19.2bpp
gfx/tilesets/19.png
gfx/tilesets/20.2bpp
gfx/tilesets/20.png
gfx/tilesets/21.2bpp
gfx/tilesets/21.png
gfx/tilesets/22.2bpp
gfx/tilesets/22.png
gfx/tilesets/23.2bpp
gfx/tilesets/23.png
gfx/tilesets/24.2bpp
gfx/tilesets/24.png
gfx/tilesets/25.2bpp
gfx/tilesets/25.png
gfx/tilesets/26.2bpp
gfx/tilesets/26.png
gfx/tilesets/27.2bpp
gfx/tilesets/27.png
gfx/tilesets/28.2bpp
gfx/tilesets/28.png
gfx/tilesets/29.2bpp
gfx/tilesets/29.png
gfx/tilesets/30.2bpp
gfx/tilesets/30.png
gfx/tilesets/31.2bpp
gfx/tilesets/31.png
gfx/tilesets/32.2bpp
gfx/tilesets/32.png
gfx/tilesets/33.2bpp
gfx/tilesets/33.png
gfx/tilesets/34.2bpp
gfx/tilesets/34.png
gfx/tilesets/35.2bpp
gfx/tilesets/35.png
gfx/tilesets/36.2bpp
gfx/tilesets/36.png
gfx/tilesets/roofs/0.png
gfx/tilesets/roofs/1.png
gfx/tilesets/roofs/2.png
gfx/tilesets/roofs/3.png
gfx/tilesets/roofs/4.png
gfx/tilesets/water.png
